---
order: 5
---
<h2 class="gl">Example</h2>
<h3 class="gl">Example</h3>
<div class="gl-example">
	{% include guideline/gl-example-controls.html %}
	<button type="button">Lorem</button>
{% highlight html linenos %}
<button type="button">Lorem</button>
{% endhighlight %}
	<div class="gl-comment">
		<p class="gl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quia dolore vel praesentium unde rerum perferendis tempora assumenda est officia, dolorem id magnam blanditiis repellendus debitis aliquid atque alias ad.</p>
	</div>
</div>
<h3 class="gl">Example full</h3>
<div class="gl-example gl-exemple-full">
	{% include guideline/gl-example-controls.html %}
	<h1 class="gl">H1 Lorem ipsum dolor sit amet.</h1>
{% highlight html linenos %}
<h1 class="gl">H1 Lorem ipsum dolor sit amet.</h1>
{% endhighlight %}
	<div class="gl-comment">
		<p class="gl">Lorem ipsum dolor sit amet</p>
		<p class="gl">Lorem ipsum dolor sit amet</p>
	</div>
</div>