<section id="cores" class="gl-wrapper">
	<h1 class="gl">Cores</h1>
	<div class="gl-colors">
		<span class="gl-color gl-color-base-1" data-sass="$gl-color-base-1" data-color="#fff"><span class="gl-color-box"></span></span>
		<span class="gl-color gl-color-base-2" data-sass="$gl-color-base-2" data-color="#000"><span class="gl-color-box"></span></span>
		<span class="gl-color gl-color-base-3" data-sass="$gl-color-base-3" data-color="#0aa"><span class="gl-color-box"></span></span>
		<span class="gl-color gl-color-alert" data-sass="$gl-color-alert" data-color="#fa0"><span class="gl-color-box"></span></span>
		<span class="gl-color gl-color-error" data-sass="$gl-color-error" data-color="#c00"><span class="gl-color-box"></span></span>
		<span class="gl-color gl-color-success" data-sass="$gl-color-success" data-color="#080"><span class="gl-color-box"></span></span>
		<span class="gl-color gl-color-gray-1" data-sass="$gl-color-gray-1" data-color="#444"><span class="gl-color-box"></span></span>
		<span class="gl-color gl-color-gray-2" data-sass="$gl-color-gray-2" data-color="#555"><span class="gl-color-box"></span></span>
		<span class="gl-color gl-color-gray-3" data-sass="$gl-color-gray-3" data-color="#666"><span class="gl-color-box"></span></span>
		<span class="gl-color gl-color-gray-4" data-sass="$gl-color-gray-4" data-color="#888"><span class="gl-color-box"></span></span>
		<span class="gl-color gl-color-gray-5" data-sass="$gl-color-gray-5" data-color="#ccc"><span class="gl-color-box"></span></span>
		<span class="gl-color gl-color-gray-6" data-sass="$gl-color-gray-6" data-color="#eee"><span class="gl-color-box"></span></span>
		<span class="gl-color gl-color-overlay" data-sass="$gl-color-overlay" data-color="rgba($color-base-2, .6)"><span class="gl-color-box"></span></span>
	</div>
	<p class="gl-comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, obcaecati cupiditate tenetur dolorum vel, quos laboriosam consequuntur sunt deleniti praesentium dignissimos laudantium optio amet temporibus distinctio inventore tempore iusto, modi.</p>
</section>