<button class="gl gl-bt-more" type="button" data-plugin="toggle-class-target" data-class="gl-active" data-target="_self">
    <span data-plugin="toggle-class-target" data-class="gl-hide" data-target="#gl-group-{{ include.target }}">
        <svg class="gl-icon gl-icon-plus"><use xlink:href="/assets/img/svg/guideline/gl-example-controls.svg#icon-plus"></use></svg>
        <svg class="gl-icon gl-icon-minus"><use xlink:href="/assets/img/svg/guideline/gl-example-controls.svg#icon-minus"></use></svg>
    </span>
</button>