<button type="button" data-plugin="toggle-class-target" data-class="gl-nav-active" data-target="html" class="gl-menu">Guideline</button>
<nav class="gl-nav">
	<button class="gl-link active" type="button" data-plugin="toggle-class-target" data-class="active" data-target="#introducao">
		<span data-plugin="toggle-class-target" data-flag="_parents" data-target=".gl-link" data-class="active">Introdução</span>
	</button>
	<button class="gl-link" type="button" data-plugin="toggle-class-target" data-class="active" data-target="#mockup-links">
		<span data-plugin="toggle-class-target" data-flag="_parents" data-target=".gl-link" data-class="active">Mockup Links</span>
	</button>
	<button class="gl-link" type="button" data-plugin="toggle-class-target" data-class="active" data-target="#cores">
		<span data-plugin="toggle-class-target" data-flag="_parents" data-target=".gl-link" data-class="active">Cores</span>
	</button>
	<button class="gl-link" type="button" data-plugin="toggle-class-target" data-class="active" data-target="#grid">
		<span data-plugin="toggle-class-target" data-flag="_parents" data-target=".gl-link" data-class="active">Grid & Media Query</span>
	</button>
	<button class="gl-link" type="button" data-plugin="toggle-class-target" data-class="active" data-target="#tipografia-verdana">
		<span data-plugin="toggle-class-target" data-flag="_parents" data-target=".gl-link" data-class="active">Verdana</span>
	</button>
	<button class="gl-link" type="button" data-plugin="toggle-class-target" data-class="active" data-target="#icones">
		<span data-plugin="toggle-class-target" data-flag="_parents" data-target=".gl-link" data-class="active">Ícones</span>
	</button>
	<button class="gl-link" type="button" data-plugin="toggle-class-target" data-class="active" data-target="#exemplo">
		<span data-plugin="toggle-class-target" data-flag="_parents" data-target=".gl-link" data-class="active">Exemplo</span>
	</button>
</nav>