//
.gl-palete-color, .gl-variables-in-use
	$reset-list()
	font-size 0

	li
		font-size 1rem

.gl-palete-color

	li
		padding 10px
		vertical-align top

	span
		display inline-block
		vertical-align middle

	.gl-color
		$gl-color-size = 1.5em * 3
		border-radius 50%
		box-shadow 0 0 5px 0 rgba($gl-shadow, .75)
		height $gl-color-size
		margin 0 5px 0 0
		width $gl-color-size

.gl-variables-in-use

	li
		line-height 26px

	.gl-label
		font-size 10px

	.gl-var-name
		font-size 14px

	.gl-var-color
		font-size 20px
		margin 26px 0 0

		&:first-child
			margin 0

	.gl-var
		font-size 14px
		line-height 1.5em

@media (min-width: $tablet)

	.gl-palete-color

		li
			$columns-p(3, "fluid")

	.gl-variables-in-use
		break-inside avoid
		column-count 3
		column-fill balance
		column-gap 20px

@media (min-width: $desktop)

	.gl-palete-color

		li
			$columns-p(5, "fluid")

	.gl-variables-in-use
		column-count 4

@media (min-width: $desktop-large)

	.gl-palete-color

		li
			$columns-p(6, "fluid")
