//
:root
	background $gl-page-bg

.gl-error
	color $gl-error

// Palete color
.gl-palete-color
	$reset-list()
	font-size 0

	li
		font-size 1rem
		padding 10px
		vertical-align top

	span
		display inline-block
		vertical-align middle

	.gl-color
		$gl-color-size = 1.5em * 3
		border-radius 50%
		box-shadow 0 0 5px 0 rgba($gl-shadow, .75)
		height $gl-color-size
		margin 0 5px 0 0
		width $gl-color-size

@media (min-width: $tablet)

	.gl-palete-color

		li
			$columns-p(3, "fluid")

@media (min-width: $desktop)

	.gl-palete-color

		li
			$columns-p(5, "fluid")

@media (min-width: $desktop-large)

	.gl-palete-color

		li
			$columns-p(6, "fluid")
