// Exemple
button.gl
	$reset-button()
	$gl-button-size = 30px
	background $gl-bt-example-controls-bg
	border $gl-border-config
	color $gl-bt-example-controls-color
	display inline-block
	font-size 20px
	height $gl-button-size
	overflow hidden
	position relative
	transition background .3s $ease-in-out, color .3s $ease-in-out
	vertical-align middle
	width $gl-button-size

	span
		display block
		height 100%
		width 100%

	&:hover
		background $gl-bt-example-controls-hover-bg
		color $gl-bt-example-controls-hover-color

	&.gl-bt-comment, &.gl-bt-code, &.gl-bt-stage, &.gl-bt-grid
		display none

	.gl-icon
		$center()

	&.gl-bt-more

		.gl-icon-plus, .gl-icon-minus
			transition opacity .3s $ease-in-out

		.gl-icon-plus
			opacity 1

		.gl-icon-minus
			opacity 0

		&.gl-active
			background $gl-bt-example-controls-hover-bg
			color $gl-bt-example-controls-hover-color

			&:hover
				background $gl-bt-example-controls-bg
				color $gl-bt-example-controls-color

			.gl-icon-plus
				opacity 0

			.gl-icon-minus
				opacity 1

	&.gl-bt-stage

		.gl-icon
			$size = 22px
			height $size
			width $size

			&:before, &:after
				$size = 15px
				border $gl-border-config
				content ""
				display inline-block
				height $size
				position absolute
				width $size

			&:before
				background $gl-example-bg
				left 0
				top 0
				z-index $z-index-content + 1

			&:after
				background-color $gl-example-bg
				background-image $gl-bg-stage
				background-size 10px 10px
				background-position 0 0, 5px 5px
				bottom 0
				right 0
				z-index $z-index-content

.gl-example-controls
	background $gl-bar-example-controls-bg
	border $gl-border-config
	display inline-block
	font-size 0
	line-height 0
	position absolute
	right -1px
	top -32px
	z-index $z-index-content

	button.gl
		border 0

.gl-example
	background $gl-example-bg
	border $gl-border-config
	margin 0 -1px 20px
	position relative

	&.gl-exemple-full
		border-left 0
		border-right 0
		margin 0 -14px 20px

		.gl-example-controls
			right 0

	&.gl-more-active

		.gl-example-controls

			.gl-bt-more
				background $gl-bt-example-controls-hover-bg
				color $gl-bt-example-controls-hover-color

				&:hover
					background $gl-bt-example-controls-bg
					color $gl-bt-example-controls-color

				.gl-icon-plus
					opacity 0

				.gl-icon-minus
					opacity 1

			button.gl

				&.gl-bt-comment, &.gl-bt-code, &.gl-bt-stage, &.gl-bt-grid
					display inline-block

	&.gl-stage-active
		background-image $gl-bg-stage
		background-size 10px 10px
		background-position 0 0, 5px 5px

		.gl-example-controls

			.gl-bt-stage
				background $gl-bt-example-controls-hover-bg
				color $gl-bt-example-controls-hover-color

				&:hover
					background $gl-bt-example-controls-bg
					color $gl-bt-example-controls-color

				.gl-icon

					&:before
						z-index $z-index-content

					&:after
						z-index $z-index-content + 1

	&.gl-comment-active

		.gl-example-controls

			.gl-bt-comment
				background $gl-bt-example-controls-hover-bg
				color $gl-bt-example-controls-hover-color

				&:hover
					background $gl-bt-example-controls-bg
					color $gl-bt-example-controls-color

		.gl-comment
			display block

	&.gl-code-active

		.gl-example-controls

			.gl-bt-code
				background $gl-bt-example-controls-hover-bg
				color $gl-bt-example-controls-hover-color

				&:hover
					background $gl-bt-example-controls-bg
					color $gl-bt-example-controls-color

		figure.highlight
			display block

	figure.highlight
		display none
		margin 0
		position relative
		z-index $z-index-content

	&.gl-grid-active

		&:after
			background-image linear-gradient(90deg, rgba($gl-grid-strips, .10) $column, transparent $gutters(1))
			background-size $columns(1) $gutters(1)
			bottom 0
			content ""
			display block
			left 0
			position absolute
			right 0
			top 0
			z-index $z-index-behind

		.gl-example-controls

			.gl-bt-grid
				background $gl-bt-example-controls-hover-bg
				color $gl-bt-example-controls-hover-color

				&:hover
					background $gl-bt-example-controls-bg
					color $gl-bt-example-controls-color

	.gl-comment
		background $gl-example-comment-bg
		border-top $gl-border-config
		color $gl-example-comment-color
		display none
		padding 1rem
		position relative
		z-index $z-index-content

		p.gl

			&:first-child, &:last-child
				margin 0
