// Base button and guideline menu
button.gl
	$reset-button()
	$gl-button-size = 30px
	background $gl-bt-example-controls-bg
	color $gl-bt-example-controls-color
	display inline-block
	font-size 20px
	height $gl-button-size
	overflow hidden
	position relative
	transition background .3s $ease-in-out, color .3s $ease-in-out
	vertical-align middle
	width $gl-button-size

	span
		border $gl-border-config
		box-sizing border-box
		display block
		height 100%
		width 100%

	&.gl-active
		background $gl-bt-example-controls-hover-bg
		color $gl-bt-example-controls-hover-color

	&.gl-bt-more

		.gl-icon-plus, .gl-icon-minus
			transition opacity .3s $ease-in-out

		.gl-icon-plus
			opacity 1

		.gl-icon-minus
			opacity 0

		&.gl-active

			.gl-icon-plus
				opacity 0

			.gl-icon-minus
				opacity 1

	&.gl-link
		box-sizing border-box
		display block
		font-size 16px
		height auto
		line-height 2em
		text-align left
		width 100%

		span
			border 0
			padding 0 1em

	.gl-icon
		$center()

	&.gl-main-bt
		transition width .3s $ease-in-out
		width 216px

		.gl-wrapper-icon
			height 2em
			position absolute
			right 0
			top 0
			width 2em

			.gl-icon-menu
				font-size 1.5em

		.gl-icon-menu, .gl-icon-close
			transition opacity .3s $ease-in-out

		.gl-icon-menu
			opacity 1

		.gl-icon-close
			opacity 0

		&.gl-active

			.gl-icon-menu
				opacity 0

			.gl-icon-close
				opacity 1

.gl-wrapper-nav
	background $gl-page-bg
	box-shadow: 0 0 0 0 rgba($gl-shadow, .25);
	height 100%
	left -200px
	position fixed
	top 0
	transition left .3s $ease-in-out
	width 200px
	z-index $z-index-in-front

	.gl-nav
		height 100%
		position relative
		overflow-y auto

:root
	padding $gutters(1)

	&.gl-nav-active

		.gl-main-bt
			width 200px

			&:hover
				width 200px

		.gl-wrapper-nav
			box-shadow: 1px 0 5px 0 rgba($gl-shadow, .25);
			left 0

			&:before
				background rgba($gl-shadow, .01);
				content ""
				display block
				height 100%
				left 0
				position fixed
				top 0
				width 100%
				z-index $z-index-in-front -1

@media (min-width: $desktop)

	button.gl

		&:hover
			background $gl-bt-example-controls-hover-bg
			color $gl-bt-example-controls-hover-color

		&.gl-active

			&:hover
				background $gl-bt-example-controls-bg
				color $gl-bt-example-controls-color

		&.gl-main-bt

			&:hover
				width 232px
