body
	font-family: $gl-font
	font-size: 12px
	line-height: 1.5em
	color: $gl-default-font-color

h1, h2, h3, h4, h5, h6

	&.gl
		font-weight: 300
		margin: 1em 0

		&:first-child
			margin: 0 0 1em

h1.gl
	border-bottom: $gl-border-config
	font-size: 50px
	padding: 0 0 .5em

h2.gl
	font-size: 42px

h3.gl
	font-size: 34px

h4.gl
	font-size: 26px

h5.gl
	font-size: 18px

h6.gl
	font-size: 12px
