// Variables in use
.gl-variables-in-use
	$reset-list()
	font-size 0

	li
		font-size 1rem
		line-height 26px

	.gl-label
		font-size 10px

	.gl-var-name
		font-size 14px

	.gl-var-color
		font-size 20px
		margin 26px 0 0

		&:first-child
			margin 0

	.gl-var
		font-size 14px
		line-height 1.5em
