<h2 class="gl">Typography</h2>
{% assign typography = site.data.guideline.fonts %}
{% assign fontFamily = "" %}
{% assign fontWeight = "" %}
{% for font in typography %}
    {% if fontFamily !=  font.family %}
        <h3 class="gl">{{ font.family }}</h3>
    {% endif %}
    {% if fontWeight !=  font.weight %}
        <h4 class="gl">Font-weight {{ font.weight }}</h4>
        <p class="gl-example gl-typography" style="font-family: {{ font.family }}; font-weight: {{ font.weight }}">
            {% for character in site.data.guideline.typography.characters %}
                <span class="gl-char" style="font-style: normal;">{{ character }}</span>
                <span class="gl-char" style="font-style: italic;">{{ character }}</span>
                <span class="gl-char" style="font-style: normal;">{{ character | upcase }}</span>
                <span class="gl-char" style="font-style: italic;">{{ character | upcase }}</span>
            {% endfor %}
            {% for accent in site.data.guideline.typography.accents %}
                <span class="gl-char" style="font-style: normal;">{{ accent }}</span>
                <span class="gl-char" style="font-style: italic;">{{ accent }}</span>
                <span class="gl-char" style="font-style: normal;">{{ accent | upcase }}</span>
                <span class="gl-char" style="font-style: italic;">{{ accent | upcase }}</span>
            {% endfor %}
            {% for number in site.data.guideline.typography.numbers %}
                <span class="gl-char" style="font-style: normal;">{{ number }}</span>
                <span class="gl-char" style="font-style: italic;">{{ number }}</span>
            {% endfor %}
            {% for symbol in site.data.guideline.typography.symbols %}
                <span class="gl-char" style="font-style: normal;">{{ symbol }}</span>
                <span class="gl-char" style="font-style: italic;">{{ symbol }}</span>
            {% endfor %}
        </p>
    {% endif %}
    {% assign fontFamily = font.family %}
    {% assign fontWeight = font.weight %}
{% endfor %}
<h2 class="gl">Guideline titles</h2>
<div class="gl-example">
    <div class="gl-example-controls">
        <span class="menu " data-plugin="toggle-class-target" data-target=".gl-example" data-flag="_parents" data-class="menu-active"></span>
        <span class="menu-item comment " data-plugin="toggle-class-target" data-target=".gl-example" data-flag="_parents" data-class="comment-active">Comment</span>
        <span class="menu-item code " data-plugin="toggle-class-target" data-target=".gl-example" data-flag="_parents" data-class="code-active">Code</span>
        <span class="menu-item background " data-plugin="toggle-class-target" data-target=".gl-example" data-flag="_parents" data-class="gl-stage">Background</span>
        <span class="menu-item grid " data-plugin="toggle-class-target" data-target=".gl-example" data-flag="_parents" data-class="gl-grid">Grid</span>
    </div>
    <h1 class="gl">H1 Lorem ipsum dolor sit amet.</h1>
    <h2 class="gl">H2 Lorem ipsum dolor sit amet.</h2>
    <h3 class="gl">H3 Lorem ipsum dolor sit amet.</h3>
    <h4 class="gl">H4 Lorem ipsum dolor sit amet.</h4>
    <h5 class="gl">H5 Lorem ipsum dolor sit amet.</h5>
    <h6 class="gl">H6 Lorem ipsum dolor sit amet.</h6>
</div>