<h2 class="gl">Typography</h2>
{% assign typography = site.data.guideline.fonts %}
{% assign fontFamily = "" %}
{% assign fontWeight = "" %}
{% for font in typography %}
	{% if fontFamily !=  font.family %}
		<h3 class="gl">{{ font.family }}</h3>
	{% endif %}
	{% if fontWeight !=  font.weight %}
		<h4 class="gl">Font-weight {{ font.weight }}</h4>
		<p class="gl-typography" style="font-family: {{ font.family }}; font-weight: {{ font.weight }}">
			{% for character in site.data.guideline.typography.characters %}
				<span class="gl-char" style="font-style: normal;">{{ character }}</span>
				<span class="gl-char" style="font-style: italic;">{{ character }}</span>
				<span class="gl-char" style="font-style: normal;">{{ character | upcase }}</span>
				<span class="gl-char" style="font-style: italic;">{{ character | upcase }}</span>
			{% endfor %}
			{% for accent in site.data.guideline.typography.accents %}
				<span class="gl-char" style="font-style: normal;">{{ accent }}</span>
				<span class="gl-char" style="font-style: italic;">{{ accent }}</span>
				<span class="gl-char" style="font-style: normal;">{{ accent | upcase }}</span>
				<span class="gl-char" style="font-style: italic;">{{ accent | upcase }}</span>
			{% endfor %}
			{% for number in site.data.guideline.typography.numbers %}
				<span class="gl-char" style="font-style: normal;">{{ number }}</span>
				<span class="gl-char" style="font-style: italic;">{{ number }}</span>
			{% endfor %}
			{% for symbol in site.data.guideline.typography.symbols %}
				<span class="gl-char" style="font-style: normal;">{{ symbol }}</span>
				<span class="gl-char" style="font-style: italic;">{{ symbol }}</span>
			{% endfor %}
		</p>
	{% endif %}
	{% assign fontFamily = font.family %}
	{% assign fontWeight = font.weight %}
{% endfor %}
<h3 class="gl">Titles</h3>
<p class="gl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta laboriosam quisquam, beatae blanditiis rem, fuga, perferendis repellendus architecto, eius voluptatum accusantium officia obcaecati veniam! Vero odio incidunt dolore ut, suscipit!</p>

{% highlight html linenos %}
<h1 class="gl">H1 Lorem ipsum dolor sit amet.</h1>
<h2 class="gl">H2 Lorem ipsum dolor sit amet.</h2>
<h3 class="gl">H3 Lorem ipsum dolor sit amet.</h3>
<h4 class="gl">H4 Lorem ipsum dolor sit amet.</h4>
<h5 class="gl">H5 Lorem ipsum dolor sit amet.</h5>
<h6 class="gl">H6 Lorem ipsum dolor sit amet.</h6>
{% endhighlight %}

<h3 class="gl">Example</h3>
<div class="gl-example">
	<div class="gl-example-controls">
		<button class="gl gl-bt-comment" data-plugin="toggle-class-target" data-target=".gl-example" data-flag="_parents" data-class="gl-comment-active">
			<svg class="gl-icon gl-icon-comment"><use xlink:href="/assets/img/svg/guideline/gl-example-controls.svg#icon-comment"></use></svg>
		</button>
		<button class="gl gl-bt-code" data-plugin="toggle-class-target" data-target=".gl-example" data-flag="_parents" data-class="gl-code-active">
			<svg class="gl-icon gl-icon-code"><use xlink:href="/assets/img/svg/guideline/gl-example-controls.svg#icon-code"></use></svg>
		</button>
		<button class="gl gl-bt-stage" data-plugin="toggle-class-target" data-target=".gl-example" data-flag="_parents" data-class="gl-stage-active">
			<span class="gl-icon">B</span>
		</button>
		<button class="gl gl-bt-grid " data-plugin="toggle-class-target" data-target=".gl-example" data-flag="_parents" data-class="gl-grid-active">
			<svg class="gl-icon gl-icon-grid"><use xlink:href="/assets/img/svg/guideline/gl-example-controls.svg#icon-grid"></use></svg>
		</button>
		<button class="gl gl-bt-more" type="button" data-plugin="toggle-class-target" data-target=".gl-example" data-flag="_parents" data-class="gl-more-active">
			<svg class="gl-icon gl-icon-plus"><use xlink:href="/assets/img/svg/guideline/gl-example-controls.svg#icon-plus"></use></svg>
			<svg class="gl-icon gl-icon-minus"><use xlink:href="/assets/img/svg/guideline/gl-example-controls.svg#icon-minus"></use></svg>
		</button>
	</div>
	<button type="button">Lorem</button>
{% highlight html linenos %}
<button type="button">Lorem</button>
{% endhighlight %}
	<div class="gl-comment">
		<p class="gl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quia dolore vel praesentium unde rerum perferendis tempora assumenda est officia, dolorem id magnam blanditiis repellendus debitis aliquid atque alias ad.</p>
	</div>
</div>
<h3 class="gl">Example full</h3>
<div class="gl-example gl-exemple-full">
	<div class="gl-example-controls">
		<button class="gl gl-bt-comment" data-plugin="toggle-class-target" data-target=".gl-example" data-flag="_parents" data-class="gl-comment-active">
			<svg class="gl-icon gl-icon-comment"><use xlink:href="/assets/img/svg/guideline/gl-example-controls.svg#icon-comment"></use></svg>
		</button>
		<button class="gl gl-bt-code" data-plugin="toggle-class-target" data-target=".gl-example" data-flag="_parents" data-class="gl-code-active">
			<svg class="gl-icon gl-icon-code"><use xlink:href="/assets/img/svg/guideline/gl-example-controls.svg#icon-code"></use></svg>
		</button>
		<button class="gl gl-bt-stage" data-plugin="toggle-class-target" data-target=".gl-example" data-flag="_parents" data-class="gl-stage-active">
			<span class="gl-icon">B</span>
		</button>
		<button class="gl gl-bt-grid " data-plugin="toggle-class-target" data-target=".gl-example" data-flag="_parents" data-class="gl-grid-active">
			<svg class="gl-icon gl-icon-grid"><use xlink:href="/assets/img/svg/guideline/gl-example-controls.svg#icon-grid"></use></svg>
		</button>
		<button class="gl gl-bt-more" type="button" data-plugin="toggle-class-target" data-target=".gl-example" data-flag="_parents" data-class="gl-more-active">
			<svg class="gl-icon gl-icon-plus"><use xlink:href="/assets/img/svg/guideline/gl-example-controls.svg#icon-plus"></use></svg>
			<svg class="gl-icon gl-icon-minus"><use xlink:href="/assets/img/svg/guideline/gl-example-controls.svg#icon-minus"></use></svg>
		</button>
	</div>
	<h1 class="gl">H1 Lorem ipsum dolor sit amet.</h1>
{% highlight html linenos %}
<h1 class="gl">H1 Lorem ipsum dolor sit amet.</h1>
{% endhighlight %}
	<div class="gl-comment">
		<p class="gl">Lorem ipsum dolor sit amet</p>
		<p class="gl">Lorem ipsum dolor sit amet</p>
	</div>
</div>

<p class="gl">
	<svg class="gl-icon gl-icon-comment"><use xlink:href="/assets/img/svg/guideline/gl-example-controls.svg#icon-comment"></use></svg>
	<svg class="gl-icon gl-icon-plus"><use xlink:href="/assets/img/svg/guideline/gl-example-controls.svg#icon-plus"></use></svg>
	<svg class="gl-icon gl-icon-minus"><use xlink:href="/assets/img/svg/guideline/gl-example-controls.svg#icon-minus"></use></svg>
	<svg class="gl-icon gl-icon-grid"><use xlink:href="/assets/img/svg/guideline/gl-example-controls.svg#icon-grid"></use></svg>
	<svg class="gl-icon gl-icon-code"><use xlink:href="/assets/img/svg/guideline/gl-example-controls.svg#icon-code"></use></svg>
</p>
